---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout theme="light" showThemeToggle={true} title="Blog | Quincy So">
  <article>
    <header class="article-header">
      <h1>Blog</h1>
      <p class="subtitle">Thoughts and writings.</p>
    </header>
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
          <br/>
          <small>{post.data.pubDate.toISOString().split('T')[0]}</small>
        </li>
      ))}
    </ul>
  </article>
</BaseLayout>
