---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Quincy So">
  <h1>QUINCY <span>SO</span></h1>
  <p class="tagline">Observe. Reflect. Create.</p>
  <p class="contact">
    Complaints? E-mail me at
    <a href="mailto:hello@soquincy.qzz.io">hello@soquincy.qzz.io</a>
  </p>
</BaseLayout>
